html,body{
    font-family: Roboto;
    scroll-behavior: smooth;
    background: #f5f8fa;
}
h1{
    font-size: 32px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 14px;
}
h6{
    font-size: 12px;
}
/*NavBar Start Css */
.my-navbar {
    box-shadow: 0px 10px 30px rgba(216, 216, 216, 0.45);
    position: fixed;
    width: 100%;
}

.name-of-logo {
    font-weight: bold;
    color: white ;
    font-size: 22px;
    line-height: 22px;
}

.navbar-brand img {
    width: 50px;
}

.nav-link {
    border-bottom: 4px solid white;
    margin-right: 24px;
    transition: 0.3s ease;
    padding: 5px;
}
.nav-link:hover {
    color: white;
    border-bottom: 4px solid white;
}
.nav-active a {
    color: white !important;
    font-weight: 600;
    border-bottom: 4px solid white;
}
.navbar-name .logo-name{
    color: white;
}
.navbar-saraha select{
    border: none;
    border-radius: 15px;
}
.navbar-saraha option{
    border: none;
    border-radius: 15px;
}

/*NavBar End Css */

/*Start sidebar Css */
.sidebar .imageProfile img{
    width: 80px;
    height: 80px;
    transform: translate(-50%, -73%);
    position: absolute;

}
.sidebar .socialMediaLink{
    line-height: 30px;
}
.sidebar .socialMediaLink a {
    color: #0CC8C9;
    font-size: 20px;
    font-family: Roboto;

}
.maessages .input-hidden input{
    width: 100%;
}
.maessages .replyMessages img {
    width: 30px;
    height: 30px;
}
.maessages .submitFormInput input{
    width: 100%;
    padding-top: 20px;
}

/*End sidebar Css*/
/*Home Page Start */

/*End Page Start */
/*Start Contact-Us Css*/
.form-contact-us .btnContactUs button{
    color: #10bbb3;
    border-color:#10bbb3 ;
}
.form-contact-us .btnContactUs button:hover{
    background: #10bbb3;
    color: white;
    text-decoration: none;
}
.contact-us .container{
    padding-left: 0px;
    padding-right: 0px;
}
/*End Contact-Us Css*/
