html, body {
    font-family: Roboto;
    scroll-behavior: smooth;
    background: #f5f8fa;
    direction: ltr;
    text-align: left;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

:root {
    --main-color: linear-gradient(28deg, #1E86AF, #16222A);
}

.theme-color {
    background: linear-gradient(28deg, #16222A, #1E86AF);
    color: white;
}

.pageWelcome .howToUse {
    margin: 50px 0;
}

.howToUse .customBorderHowToUse {
    border-radius: 20px;
}

.customBorder {
    border-radius: 20px;
    border: 1px solid #16222A;
}

.customHowToUse {
    border-radius: 20px;
    border: 1px solid white;
}

.theme-color-text {
    color: var(--main-color);
}

.login .buttonlogin button {
    color: white;
}

/*pageWelcome*/
.pageWelcome .customP {
    margin: 175px 50px;
}

/*EndpageWelcome*/


/*NavBar Start Css */
.start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 20px 0;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    background: linear-gradient(28deg, #16222A, #1E86AF);
}

.navbar .collapse .nav-item i {
    padding: 0 10px;
}

.start-header.scroll-on {
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.start-header.scroll-on .navbar-brand img {
    height: 24px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navigation-wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    padding: 0;
}

.navbar-brand img {
    height: 28px;
    width: auto;
    display: block;
    filter: brightness(10%);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.nav-link {
    color: #ffffff !important;
    font-weight: 500;
    transition: all 200ms linear;
}

.nav-item:hover .nav-link {
    color: #16222A !important;
}

.nav-item.active .nav-link {
    color: #777 !important;
}

.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}

.nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #ffffff;
    opacity: 0;
    transition: all 200ms linear;
}

.nav-item:hover:after {
    bottom: 0;
    opacity: 1;
}

.nav-item.active:hover:after {
    opacity: 0;
}

.nav-item {
    position: relative;
    transition: all 200ms linear;
}

.name-of-logo {
    font-weight: bold;
    color: white;
    font-size: 22px;
    line-height: 22px;
}

.navbar .logo img {

    height: 40px;
}

.navbar .logo a {
    font-size: 20px;
    padding-left: 14px;
    color: white;
}

.navbar .logo a:hover {
    font-size: 20px;
    padding-left: 14px;
    color: white;
}

/*NavBar End Css */

/*Start sidebar Css */
.sidebar .imageProfile img {
    width: 80px;
    height: 80px;
    transform: translate(-50%, -73%);
    position: absolute;

}

.sidebar .socialMediaLink {
    line-height: 30px;
}

.sidebar .socialMediaLink a {
    color: #1E86AF;;
    font-size: 20px;
    font-family: Roboto;

}

.maessages .input-hidden input {
    width: 100%;
}

.maessages .replyMessages img {
    width: 30px;
    height: 30px;
}

.maessages .submitFormInput input {
    width: 100%;
    padding-top: 20px;
}

a.active {
    color: white !important;
    font-weight: 500;
    transition: all 200ms linear;

}

/*End sidebar Css*/
/*Home Page Start */

/*End Page Start */
/*Start Contact-Us Css*/
.form-contact-us .btnContactUs button {
    color: #1E86AF;
    border-color: #1E86AF;
}

.form-contact-us .btnContactUs button:hover {
    background: #1E86AF;
    color: white;
    text-decoration: none;
}

.contact-us .container {
    padding-left: 0px;
    padding-right: 0px;
}

/*End Contact-Us Css*/
.center-login-center {
    padding-top: 15%;;
}

.shareWithFriends {
    background-color: #1E86AF;
    color: white;
}

.maessages .namePageBody i {
    padding: 10px;
}

/*Start manage Css */
.manage .changePassword {
    background-color: #1E86AF;
    color: white;
}


/*End manage Css*/
/*FOOTER*/


footer {


    background: linear-gradient(28deg, #1E86AF, #16222A);
    position: relative;
    left: 0;
    top: 50px;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

footer a {
    color: #fff;
    font-size: 14px;
    transition-duration: 0.2s;
}

footer a:hover {
    color: #16222A;
    text-decoration: none;
}

.copy {
    font-size: 12px;
    padding: 10px;
    border-top: 1px solid #FFFFFF;
}

.footer-middle {
    padding-top: 2em;
    color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
    background-color: #4f5bd5;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.social-circle li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #595959;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.social-network a {
    background-color: #F9F9F9;
}

.pageWelcome .staticImage img {
    background-size: cover;
    width: 700px;
    height: 480px;
    border-radius: 20px;

}

.maessages button {
    border-radius: 0px 10px 10px 0px !important;
}


@media screen and (max-width: 675px ) {
    footer {
        background: linear-gradient(28deg, #1E86AF, #16222A);
        position: relative;
        left: 0;
        top: 23vh;
        width: 100%;
        color: white;
        text-align: center;
    }

}

.mainfooter .hidden {
    display: none;
}
.mainfooter .footer-middle .custom{
    font-size: 20px;
}


.auth__social-media {
    width: 100%;
    margin-top: 40px;
}

.auth__social-media p {
    text-align: center;
    color: #777;
    position: relative;
    z-index: 2;
}

.auth__social-media p span {
    background-color: white;
    padding: 0 5px;
}

.auth__social-media p:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #f7f7f7;
    position: absolute;
    top: 14px;
    left: 0;
    z-index: -1;
}

.auth__social-media .sites {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth__social-media .sites a {
    display: -webkit-flex;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 48%;
    border: solid thin #ddd;
    border-radius: 10px;
    padding: 5px 10px;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    background: linear-gradient(28deg, #16222A, #1E86AF);


}

.auth__social-media .sites a:hover {
    text-decoration: none;
}

.auth__social-media .sites a span {
    margin-left: 10px;
}

.auth__social-media #map {
    width: 100%;
    height: 400px;
}

.auth__social-media .gallery .dropdown {
    position: absolute;
    top: 5px;
    right: 20px;
}

.auth__social-media .gallery .dropdown-toggle {
    padding: 0 5px;
}

.auth__social-media .gallery .dropdown-toggle:after {
    display: none;
}

.auth__social-media .gallery .dropdown-menu > li {
    display: block !important;
}

.maessages {
    margin-bottom: 570px;
}

.form-contact-us .custom {
    margin-bottom: 390px;
}

.maessages .customIcons a {
    display: flex;
    align-items: center;
    padding: 0 3px;
    text-decoration: none;
}

.maessages .customIcons a i.twitter {
    color: #1DA1F2;
}

.maessages .customIcons a {
    text-decoration: none !important;
}

.maessages .customIcons a i.whatsapp {
    color: #25D366;
}

.maessages .customIcons a i.facebook {
    color: #4267B2;
}



.registar .customRegistar {
    padding: 196px 0 150px 0;
    display: flex;
    justify-content: start;
    align-items: center;
}

@media (min-width: 371px) and (max-width: 768px) {
    .auth__social-media .sites {
        all: unset;
    }

    .auth__social-media .sites a {
        width: 100%;
    }

    .card .card-body .buttonlogin button {
        width: 100%;
    }

    .card .card-body .buttonlogin a.theme-color-text {
        padding: 10px 30px;
    }

    .pageWelcome .staticImage img {
        height: 200px;
        width: 100%;
        margin-bottom: 20px;
    }

    .pageWelcome .customP {
        margin: 75px 50px;
    }

    .pageWelcome .howToUse {
        margin: 25px 0;
    }

    footer {
        top: 0px;
    }

    .maessages {
        margin-bottom: 320px;
    }

    .navbar .nav-link {
        text-align: center;
    }

    .registarButton {
        text-align: center;
    }

}


.share-btn {
    display: inline-block;
    color: #ffffff;
    border: none;
    padding: 0.1em 0.6em;
    outline: none;
    text-align: center;
    font-size: 0.9em;
    margin: 0 0.2em;
}

.share-btn:focus,
.share-btn:hover {
    text-decoration: none;
    opacity: 0.8;
}

.share-btn:active {
    color: #e2e2e2;
}

.share-btn.twitter {
    background: #55acee;
}

.share-btn.google-plus {
    background: #dd4b39;
}

.share-btn.facebook {
    background: #3B5998;
}

.share-btn.stumbleupon {
    background: #EB4823;
}

.share-btn.reddit {
    background: #ff5700;
}

.share-btn.hackernews {
    background: #ff6600;
}

.share-btn.linkedin {
    background: #4875B4;
}

.share-btn.email {
    background: #444444;
}

